/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600&display=swap"); */
:root {
  --primary-text-color: #124a63;
  --secondary-text-color: #b3c5cd;

  --primary-color: #21b6b7;

  --background-color: #f9f9f9;
  --dark-background-color: #eef3f6;
  --light-background-color: white;

  --font-family: "Poppins", sans-serif;
  --box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
}

[data-theme="dark"] {
  --primary-text-color: #f0f0f0;
  --secondary-text-color: #b3c5cd;

  --primary-color: #21b6b7;

  --background-color: #252329;
  --light-background-color: #3c393f;
  --dark-background-color: #120f13;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  color: inherit;
  font-family: var(--font-family);
}

/* table,
th,
td {
  border: none;
  vertical-align: center;
} */

.page-container {
  background-color: var(--light-background-color);

  display: grid;
  grid-template-rows: auto 1fr auto; /** navbar main footer - sticky footer ***/
  height: 100vh;
  width: 100%;
}
.main {
  background-color: var(--background-color);
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
  padding: 1rem 0rem;
  margin-bottom: 0.75rem;
  color: var(--primary-text-color);
}
.logo-link {
  display: flex;
  padding-left: 1rem;
}
.logo-wrapper {
  padding-right: 0.25rem;
  cursor: pointer;
}
.logo-icon {
  color: var(--primary-text-color);
  padding: 0.25rem;
}
.logo-text {
  color: var(--primary-text-color);
}
.theme-switcher {
  padding: 1.8rem;

  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem;
  background-color: var(--light-background-color);
  color: var(--primary-text-color);
}
