:root {
  --primary-text-color: #124a63;
  --secondary-text-color: #b3c5cd;

  --primary-color: #21b6b7;

  --background-color: #f9f9f9;
  --dark-background-color: #eef3f6;
  --light-background-color: white;

  --font-family: "Poppins", Roboto, sans-serif;
  --box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  color: inherit;
}

.page-container {
  background-color: var(--light-background-color);

  display: grid;
  grid-template-rows: auto 1fr auto; /** navbar main footer - sticky footer ***/
  height: 100vh;
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
  padding: 1rem 0rem;
  margin-bottom: 0.75rem;
  color: var(--primary-text-color);
}

.logo-wrapper {
  padding-right: 0.25rem;
}
.logo-icon {
  color: var(--primary-text-color);
  padding: 0.25rem;
}
.logo-text{
  color: var(--primary-text-color);
}
.theme-switcher {
  padding-left: 1.8rem;
    
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem;
}
