.container {
  display: block;
  width: 90%;
  margin: auto;
  /* padding: 0; */
}
.country_list_info {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 0.5rem;
  margin-bottom: 1rem;
}
.country_count {
  color: var(--secondary-text-color, red);
  font-weight: bold;
  font-size: 1.2rem;
}

.search_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;

  background-color: var(--secondary-text-color);
  border-radius: 0.25rem;
}

.search_input {
  background-color: transparent;
  padding: 0.25rem 0.5rem;
}

.search_icon {
  background-color: transparent;
}
/* =============================== */
.data_table {
  padding: 0.25rem 0.5rem;
  background-color: var(--background-color);
}
.data_heading {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around;
  align-items: center; */
}

.data_heading span {
  flex: 4;
  padding: 0.5rem 0.25rem;

  font-weight: bold;
  font-size: 1.1rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.heading_flag {
  flex: 1;
}
.data_row {
  display: flex;
  padding: 1rem 0.25rem;
  margin: 0.5rem auto;
  background-color: var(--light-background-color);
  transition: transform 200ms ease-in, border 200ms ease-in,
    box-shadow 200ms ease-in;
}
.data_row:hover {
  box-shadow: var(--box-shadow);
  border-left: 0.25rem solid var(--primary-color);
  transform: translateY(-0.1rem);
}
.data_row span {
  flex: 4;

  align-self: center;
}
.flag {
  flex: 1;
}
.flag img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 3px;
  text-align: center;
}
